<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788623020527-rtd71pfatp6hqu97o6cvfslv4ab9it08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788623020527-rtd71pfatp6hqu97o6cvfslv4ab9it08</string>
	<key>API_KEY</key>
	<string>AIzaSyBas2zn77Khn6sJP4vOGNV3J9rO5wZA-4E</string>
	<key>GCM_SENDER_ID</key>
	<string>788623020527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCourseAutumn2022</string>
	<key>PROJECT_ID</key>
	<string>flutter-course-summer-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-course-summer-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788623020527:ios:a4313e6cc483ac358ae61a</string>
</dict>
</plist>